body {
  padding: 20px;
  margin: 0;
}

.btn{
	padding: 10px;
	color: #64757F;	
}

a:link {
    text-decoration: none;
}

a:hover{
	border-bottom: 2px solid #9E0002;
}

a:active{
	border-bottom: 2px solid #9E0002;
}

.btn:hover{
	color: #9E0002;
}

.btn:hover .line{
	display: block;
}

